#top{
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 20px;
    color:  white;
    font-size: 24px;
    font-weight: 800;
}
#second{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    padding: 10px;
}
#second button{
   border: none;
   background-color: red;
   color: black;
   height: 40px;
   border-radius: 10px;
}
#second button:hover{
    color: blue;
    background-color: green;
    transition: 1s;
}

#feilds{
    margin-top: 20px;
    
}